@import '../../../web/variables.css';

.informer {
  padding: 0;
  list-style: none;

  /* size of informer */
  &.xs {
    font-size: 6px;
  }

  &.sm {
    font-size: 10px;
  }

  &.md {
    font-size: 10px;
  }

  &.lg {
    font-size: 16px;
  }

  &.success {
    color: var(--c-success);
  }

  &.warning {
    color: var(--c-warning);
  }

  &.error {
    padding: 4px 0;
    display: flex;
    font-size: 9px;
    color: var(--c-error);
  }
}