@import '../../../web/variables.css';

.wrapper {
  &.xs {
    margin: var(--wrapper-mg-xs);
  }
  &.sm {
    margin: var(--wrapper-mg-sm);
  }
  &.md {
    margin: var(--wrapper-mg-md);
  }
  &.lg {
    margin: var(--wrapper-mg-lg);
  }
}