@import '../../web/variables.css';

body,
html,
#root {
  margin: 0;
  padding: 0;
  font-family: @font_family;
  font-size: @font_size;
  color: var(--c-green-bright);
}
body {
  background: url("/app/web/images/backgound/space-background.jpg") #000000 no-repeat;
}
#root-canvas {
  position: fixed;
  left: 0;
  top: 0;
}